@charset 'utf-8';
*{margin : 0 ; padding : 0 ; overflow : hidden;}
li{ list-style : none; }
a{ text-decoration : none ;}
img,video{vertical-align : bottom;}


div.outer{
	width : 100%;
}

div.top{
	width : 100%;
	background-color : red;
}